.Navigation{
    color:black;
    padding: 20px;
    font-size: larger;
    
    font-family: 'Ubuntu', sans-serif;
    padding-top: 0px;
    transition: 0.4s ease-in-out;
    
}

.Navigation:hover{
    color: white;
}

body{
    margin: 0%;
    padding: 0%;
    background-image: url("images/2222.jfif");
    background-repeat: no-repeat;
    background-size: cover;
}
.forgot{

    position: absolute;
    transform:translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background: none;
    background-color: white;
    width: 500px;
    height: 500px;
} 
h1{
    text-align: center;
    
}
p{
    margin-left: 30px;
    font-size: 20px;
}

input[type="text"]{
   
    width: 80%;
    margin-left: 30px;

}
input[type="password"]{
   
    width: 80%;
    margin-left: 30px;

}
input[type="submit"]{

    margin-top: 20px;
    margin-left: 30px;
    width: 80%;
    height: 40px;
    background-color:#2691d9 ;
    color: white;
    font-size: 15px;
    /* border-radius: 15px; */
}
#backtosignin{
  
   
   margin-left: 190px;

}