.Navigation{
    color:black;
    padding: 20px;
    font-size: larger;
    
    font-family: 'Ubuntu', sans-serif;
    padding-top: 0px;
    transition: 0.4s ease-in-out;
    
}

.Navigation:hover{
    color: white;
}

body{
    background-image: url("images/light1.jpg");
    
}
.marquee{
    font-size: 50px;
    color: rgb(238, 8, 8);
    font-family: Georgia, 'Times New Roman', Times, serif;
    word-spacing: 5px;
    
}

.info{
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 5px solid red; */


}
.heading{
    font-size:xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:tomato;
    padding-top: 0px;
}
.logo{
    padding-top: 0px;
}
*{
    margin-top: 2px;
    
}
.contactdata{
    font-size:larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 0px;
}
#2{
   
    align: center;
}
