body{
   
    /* background: linear-gradient(120deg,#f7d30a,#7ce237) */
    background-image: url("images/img2.jpg");
}
.full{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: white;
    background-size: cover;
    width: 50rem;
    height: 21.875rem;
    border-radius: 1rem;

}
li{
    margin-left: 2.5rem;
    font-size: 1.2rem;
}

.dropdown{
    width: 33.3%;
    padding: 0.3125rem;
    border: none;
    margin-left: 16.95rem;
    border: 0.125rem solid gray;
    border-radius: 0.375;
    outline: none;
    font-size: 1rem;
} 
button{

    width: 50%;
    height: 2.5rem;
    /* margin-top: 0px; */
    border: none;
    margin-left: 13rem;
    background-color: #2691d9;
    cursor: pointer;
    margin-top: 2rem;
    color: white;
    font-size: 1.125rem;
}
input[type="text"]{
   
    width: 30%;
    padding: 10px;
    margin-bottom: 1.0625rem;
    margin-left: 1.0625rem;
    font-size: 0.875rem;
    border: none;
    border: 0.125rem solid gray;
    border-radius: 0.375rem;
    outline: none;
    
}

h2{
    text-align: center;
    color: #27097a;
    padding: 0.3125rem;
    /* margin-left: 5rem; */
}

#logout{
    margin-left: 78rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: #e21313;
   
    /* background-color: white; */

}
